html, body {
  margin: 0;
  padding: 0;
}


h1, h2, h3{
  font-family:'Times New Roman', Times, serif;
  font-size: small;
  text-align: right;
  margin-right: 1%;
  margin-top: 0;
}

p{
  margin-top: 0;
  margin-bottom: 0;
}

/* Comments! Woaaaah! */